#about {
    height: auto;
    display: flex;
    align-items: center;
}

#about .container {
    padding: 100px 0px;
}

#about h2 {
    text-align: center;
}

@media(max-width: 768px) {
    #about .container {
        padding: 60px 0px;
    }

}